/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* No scrollbar utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
